<table class="table col-md-12 table-container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Arquivo</th>
      <th scope="col">StackTrace</th>
      <th scope="col">Data Registro</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="openModal(log)" class="table-item" *ngFor="let log of logs | filter: searchTerm">
      <td>{{log.arquivo}}</td>
      <td>{{log.stacktrace}}</td>
      <td>{{log.dh_registro | formatData:log.dh_registro}}</td>
    </tr>
  </tbody>
</table>

<app-pagination [numberOfPages]="14"></app-pagination>
