@import '../../../../styles.scss';

.main-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  background-color: $titleBarColor;
  border-right: 2px solid black;
}
