<div class="col-md-12 main-container">
  <form class="formulario">

    <div class="item-container">
      <label for=""> Data inicio </label>
      <input type="date" class="form-control">
    </div>

    <div class="item-container">
      <label for=""> Data fim </label>
      <input type="date" class="form-control">
    </div>

    <input type="button" class="button btn btn-info" value=" Buscar ">
  </form>

  <div class="filtro-container">
    <label for="Filtro"> Filtro </label>
    <input type="text" id="Filtro" class="form-control" [(ngModel)]="searchTerm">
  </div>

  <app-listarlog (showModal)="openModal($event)" [logs]="logs" [searchTerm]="searchTerm"></app-listarlog>

  <app-modal [show]="showModal">
    <app-log-detail (closeModal)="closeModal($event)" [log]="selectedLog"></app-log-detail>
  </app-modal>
</div>
