.main-container {
  min-width: 600px;

  .formulario {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .item-container {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }

    .button {
      height: 38px;
      width: 120px;
    }
  }

  .filtro-container {
    margin-top: 20px;
  }
}
